@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

:root {
    --dark-text: #003147;
    --main-background: #f3f0f0;
    --secondary-background: #fff;
    --btn-blue: #0866ff; 
    --btn-green: #42b72a;
    --btn-red: #ff0000;
  }

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* Auth */

.auth-container{
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: var(--main-background);
}

.auth-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 2%;
}

.auth-form-container{
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-background);
    justify-content: center;
    align-items: center;
    width: 30%;
    margin: 2%;
    border-radius: 10px;
    box-shadow: rgba(0,0,0, 0.05) 0 6px 24px, rgba(0,0,0, 0.08) 0 0 0 1px;
}

/* Auth title */
.auth-description h1 {
    color: --dark-text;
    font-size: 4rem;
}

.auth-description p {
    color: --dark-text;
    font-size: 1rem;
}

/* Auth form */ 

.auth-form-container form {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 1rem;
}

.auth-form-container form h2 {
    color: var(--dark-text);
}

input,
input::placeholder {
    font: 1.25rem/2 'Poppins';
}

.auth-form-container form input[type=email],
.auth-form-container form input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid lightgray;
    box-shadow: rgba(0,0,0, 0.05) 0 6px 24px, rgba(0,0,0, 0.08) 0 0 0 1px;
}

.auth-form-container form input[type=email]:focus,
.auth-form-container form input[type=password]:focus{
    border: 1px solid lightblue;
} 

.auth-form-container form input[type=submit]{
    height: 4rem;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    color:aliceblue;
    background-color: var(--btn-blue);
    box-shadow: rgba(0,0,0, 0.05) 0 6px 24px, rgba(0,0,0, 0.08) 0 0 0 1px;
}

.auth-form-container form input[type=submit]:hover{
    cursor: pointer;
    opacity: 0.9; 
}

.sign-up{
    color:aliceblue;
    background-color: var(--btn-green);
    height: 4rem;
    width: 14rem;
    border:none;
    border-radius: 10px;
    margin-top: 2rem;
    font: 1.25rem/2 'Poppins';
    box-shadow: rgba(0,0,0, 0.05) 0 6px 24px, rgba(0,0,0, 0.08) 0 0 0 1px;
}

.sign-up:hover {
    cursor: pointer;
    opacity: 0.9;
}

/* Main */
.main-container{
    display: flex;
}

/* Left panel */

.left-panel-container{
    background-color: var(--dark-text);
    width: 20%;
    height: 100vh;
    color: #f3f0f0;
}

.left-panel-menu{
    display: flex;
    flex-direction: column;
    margin-top: 14rem;
    margin-left: 3rem;
}

.left-panel-menu h2:hover{
    opacity: 0.8;
    cursor: pointer;
}

/* Header */

.header-container {
    /*background-color: var(--secondary-background);*/
    display: flex;
    background-color: var(--secondary-background);
    width: 100%;
    height: 180px;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.header-container button {
    color:aliceblue;
    background-color: var(--btn-green);
    height: 4rem;
    width: 14rem;
    border:none;
    border-radius: 10px;
    margin-top: 2rem;
    font: 1.25rem/2 'Poppins';
    box-shadow: rgba(0,0,0, 0.05) 0 6px 24px, rgba(0,0,0, 0.08) 0 0 0 1px;
    margin-right: 4rem;
}

.header-container button:hover {
    cursor: pointer;
    opacity: 0.9;
}

.header-profile {
    display: flex;
    align-items: center;
    margin-left: 6rem;
}

.header-profile img{
    width: 120px;
    margin-right: 2rem;
    border-radius: 50%;
    box-shadow: rgba(0,0,0, 0.05) 0 6px 24px, rgba(0,0,0, 0.08) 0 0 0 1px;
}

/* Workarea */

.workarea {
    display: flex;
    flex-direction: column;
    background-color: var(--main-background);
    width: 80%;
}

/* CV item */

.cv-item-container {
    margin: 3rem;
    width: 100%;
    height: 100%;
    display: flex;
    gap: 1rem;
}

.cv-item {
    width: 220px;
    height: 260px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid var(--dark-text);
    font-weight: bold;
    box-shadow: rgba(0,0,0, 0.05) 0 6px 24px, rgba(0,0,0, 0.08) 0 0 0 1px;
    background-color: var(--secondary-background);
}

.cv-item-upper {
    height: 70%;
}

.cv-item-buttons {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cv-item-upper:hover {
    cursor: pointer;
    opacity: 0.7;
}

.cv-item-btn {
    width: 45%;
    height: 80%;
    font: 1rem/2 'Poppins';
    border-radius: 10px;
    border : none;
    color:aliceblue;
    box-shadow: rgba(0,0,0, 0.05) 0 6px 24px, rgba(0,0,0, 0.08) 0 0 0 1px;
}

.cv-item-btn:hover {
    cursor: pointer;
    opacity: 0.7;
}

.cv-item-edit {
    background-color: var(--btn-blue);
}

.cv-item-delete {
    background-color: var(--btn-red);
}

/* User Profile*/

.profile-container {
    display: flex;
    flex-direction: column;
    width: 92%;
    text-align: center;
    border-radius: 10px;
    border: 2px solid var(--dark-text);
    font-weight: bold;
    box-shadow: rgba(0,0,0, 0.05) 0 6px 24px, rgba(0,0,0, 0.08) 0 0 0 1px;
    background-color: var(--secondary-background);
    margin:3rem;
}

.profile-container img {
    width: 300px;
    border-radius: 50%;
    padding: 3rem;
}

.pr-img{
    display: flex;
    margin-left: 8rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.pr-name, .pr-url{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.pr-url input {
    border-radius: 10px;
    border: 1px solid lightgray;
    width:69%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid lightgray;
    box-shadow: rgba(0,0,0, 0.05) 0 6px 24px, rgba(0,0,0, 0.08) 0 0 0 1px;
}

.pr-name input {
    border-radius: 10px;
    border: 1px solid lightgray;
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid lightgray;
    box-shadow: rgba(0,0,0, 0.05) 0 6px 24px, rgba(0,0,0, 0.08) 0 0 0 1px;
}

.pr-button {
    display: flex;
    justify-content: center;
    margin: 3rem;
}

.pr-button input[type=submit]{
    width: 14rem;
    height: 4rem;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    color:aliceblue;
    background-color: var(--btn-green);
    box-shadow: rgba(0,0,0, 0.05) 0 6px 24px, rgba(0,0,0, 0.08) 0 0 0 1px;
}

.pr-button input[type=submit]:hover{
    cursor: pointer;
    opacity: 0.9; 
}






