.about-me-title input[type="text"]{
    width: 50%;
}

.about-me-title-div{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.about-me-title-div i {
    margin-left: 460px;
}

.about-me-title-div p {
    margin-left: 30px;
    font-weight: 700;
}

.about-me-title-div i:hover, .about-me-title-div p:hover{
    cursor: pointer;
    opacity: 80%;
}