.about textarea{
    width: 1100px;
    height: 100px;
}

.about-form-buttons{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.about-form-buttons i:hover, .about-form-buttons p:hover {
    opacity: 80%;
    cursor: pointer;
}

.about-form-buttons p {
    font-weight: 700;
    margin-right: 30px;
    margin-left: 30px;
}