#skills-form-input{
   width: 99%;
   height: 16px;
   font-size: 16px;
}

.skills-form-container{
    display: flex;
    align-items: center;
}

.skills-form-input{
    align-items: center;
    width: 90%;
    
}

.skills-form-buttons{
    display: flex;
    align-items: center;
    width: 10%;
}

.skills-form-buttons i {
    margin-left: 22px;
}

.skills-form-buttons h4{
    margin-left: 30px;
}

.skills-form-buttons i:hover, .skills-form-buttons h4:hover{
    opacity: 80%;
}