.btn-cv-return{
    margin-left: 4rem;
    padding: 10px;
    margin: 10px;
    margin-left: 4rem;
}

.btn-cv-print{
    margin-left: 4rem;
    padding: 10px;
    margin: 10px;
    margin-left: 4rem; 
}