.contactInfo-title{
   display: flex;
   align-items: center;
}

.contactInfo-title:hover{
    border: 1px solid rgb(184, 178, 178);
    border-radius: 10px;
    cursor: pointer;
}

.contactInfo-title h2{
    color: #fff;
}

.add-school{
   margin-left: 30px;
}

.add-school:hover{
    opacity: 80%;
}

.education-title{
    width: 400px;
}

.education-title:hover{
    opacity: 80%;
}