.hobbies-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
    justify-content: center;
}

.hobbies-item-container{
    display: flex;
}

.hobbies-upper-div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    flex-wrap: wrap;
}

.hobbies-upper-div p{
    color: #333;
    font-weight: 400;
}

.hobbies-bottom-div{
    display: flex;
    align-items: center;
    width: 30%;
}

#hobbies-trash-icon{
    margin-left: 55px;
}

#hobbies-trash-icon:hover{
    opacity: 70%;
}